<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie add</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    
  </head>

  <body>
    <figure>
      <img src="/img/logo-DH.png" alt="Logo Digital House" />
    </figure>
    <h1 class="moviesAddTitulo"></h1>
    <br />
    <section id="formulario">
      <article>
        <form id="form" action="/movies/create" method="POST">
          <label for="title">Titulo </label>
          <p><input type="text" name="title" id="title" /></p>
          <p id="msgName"></p>
          <label for="rating">Calificación </label>
          <p><input type="number" name="rating" id="rating"  /></p>
          <p id="msgRating"></p>
          <label for="awards">Premios </label>
          <p><input type="number" name="awards" id="awards"  /></p>
          <p id="msgAwards"></p>
          <label for="release_date">Fecha de creación </label>
          <p><input type="date" name="release_date" id="date"  /></p>
          <p id="msgDate"></p>
          <label for="length">Duración </label>
          <p><input type="number" name="length" id="length"  /></p>
          <p id="msgLength"></p>
          <label for="genreID">Género </label>
          <p>
            <select name="genre_id" id="genre" >
              <option value="" disabled selected>
                - Seleccione el género -
              </option>
              <% allGenres.forEach(genre => { %>
              <option value="<%= genre.id %>"><%= genre.name %></option>
              <% }); %>
            </select>
          </p>
          <p id="msgGenre"></p>
          <br />
          <p>
            <button class="botonAgregar" id="botonAgregar" type="submit">Agregar</button>

            <a class="botonVolver" href="/movies">Listado de Películas</a>
          </p>
        </form>
      </article>
    </section>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="/js/moviesAdd.js"></script>
</html>
